html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ul, ol, li
{
	list-style-type:none;
}
.cycle_listing
{
	position:relative;
	top:10;
	left:10;
	width:1000px;
}
div.filter_box
{
	position:absolute;
	top:0;
	left:0;
	width:1000px;
	height:60px;
	background-color:#D8D8D8;
}
.cycle_listing form
{
	position:absolute;
	top:10;
	left:10;
	width:600px;
	height:25px;
}
div.current_filter_label
{
	position:absolute;
	top:35;
	left:10;
	width:90px;
	height:20px;
	font:15px verdana;
}
div.current_filter
{
	position:absolute;
	top:35;
	left:110;
	width:690px;
	height:25px;
	font:20px verdana;
	font-weight:bold;
}
div.listing_nav
{
	position:absolute;
	top:70;
	left:30;
	height:25px;
	background-color:#D8D8D8;
}
div.listing_nav a.prev_link
{
	position:absolute;
	top:0;
	left:0;
	width:30px;
	font:15px verdana;
	text-align:left;
}
div.listing_nav div.offset
{
	position:absolute;
	top:0;
	left:35;
	width:20px;
	font:15px verdana;
	text-align:center;
}
div.listing_nav a.next_link
{
	position:absolute;
	top:0;
	left:60;
	width:30px;
	font:15px verdana;
}
ul.listing
{
	position:absolute;
	top:90;
	left:20;
	width:980px;
	background-color:#D8D8D8;
}
ul.listing li
{
	position:relative;
	padding-top:10;
	left:10;
	width:960px;
	height:65px;
}
li a.cycle_id
{
	position:absolute;
	top:0;
	left:10;
	width:60px;
	height:25px;
	font:20px verdana;
}
li a.name
{
	position:absolute;
	top:0;
	left:80;
	width:290px;
	height:45px;
	font:20px verdana;
	font-weight:bold;
}
li a.description
{
	position:absolute;
	top:0;
	left:390;
	width:570px;
	height:60px;
	font:20px verdana;
}
li a.jira_issue
{
	position:absolute;
	top:50;
	left:30;
	width:60px;
	height:20px;
	font:15px verdana;
}
li div.jira_status
{
	position:absolute;
	top:50;
	left:100;
	width:260px;
	height:20px;
	font:15px verdana;
	font-weight:bold;
}