* {
	box-sizing: border-box;
}

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0px auto;
	border: 0;
	background-color:#ededed;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 200;
}

div {
	margin: 0px auto;
	padding: 15px;
}

ul, ol, li
{
	list-style-type:none;
	-webkit-padding-start: 0px;
}

.execution_details
{
	position:relative;
	width: 75%;
}


div.header
{
	background-color:#444;
	color: #fff;
	list-style-type:none;
}

.case_id {
	display: inline;
}

div.case_label
{
	display: inline-block;
	font-weight: bold;
	width: 850;
	word-wrap: break-word;
}
div.execution_id
{
	display: inline;
}
div.execution_description
{
	display: inline-block;
	word-wrap: break-word;

}


.result
{
	text-align: right;
	padding: 0px;
	top: -35px;
	position: relative;
	font-weight: bold;
}

div.metadata
{
	position:relative;
	width: 100%;
	display: block;
	color: #000;
	background-color: #fff;
	padding: 0px;
}


div.metadata div.environment, div.metadata div.host, div.metadata div.start_time, div.metadata div.end_time
{
	display: inline-block;
	overflow: none;
}

.metadata .environment {
	float: left;
}

.metadata .label {
	font-weight: bold;
	display: block;
	margin: 0px;
	padding: 0px;
}

.metadata .value {
	font-weight: 200;
	display: inline;
	margin: 0px;
	padding: 0px;
}


.logs {
	background-color:#fff;
}

.log
{
	padding: 10px;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
	background-color: #fff;
	font-size: 14px;
}

.time, .level, .message {
	display: block;
	float: left;
}


.source {
	display: block;
	float: right;
	width: 200;
	word-wrap: break-word;
}

.message {
	width: 500px;
	word-wrap: break-word;

}

ul .cycle_links {
	background-color: #fff;
}

.cycle_links li {
	padding: 20px;
	font-size: 14px;
	text-align: center;
	background-color: #fff;
}


.result_status_pass
{
	color:green;
}
.result_status_fail
{
	color:red;
}
.result_status_skip
{
	color:orange;
}