* {
	box-sizing: border-box;
}

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0px auto;
	border: 0;
	background-color:#ededed;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 200;
}

form {
	float: right;
	margin: 0px;
	display: inline-block;
}

input {
	width: 200px;
	display: inline;
}

div {
	margin: 0px auto;
	padding: 15px;
}

.listing {
	padding: 10px 40px;
}

ul, ol, li
{
	list-style-type:none;
	-webkit-padding-start: 0px;
}

.cycle_listing
{
	position:relative;
}

div.filter_box
{
	width: 75%;
	color: #fff;
	background: #444;
	border-bottom: 1px solid #ededed;
	padding: 15px 40px;
	height: 53px;
}


div.current_filter_label
{
	display: inline;
	font-size: 14px;
	padding: 10px 0px;

}

.filter_list {
	display: inline;
}

.label {
	display: inline;
}

div.current_filter
{
	display: inline;
	font-size: 14px;
	padding: 10px 0px;

}

div.listing_nav
{
	width: 75%;
	height:25px;
	background-color: #ffffff;
}
div.listing_nav a.prev_link
{
	text-align:left;
}
div.listing_nav div.offset
{
	margin-top: 20px;
	text-align:center;
}

div.listing_nav a.next_link
{
}

ul.listing
{
	width: 75%;
	background-color: #ffffff;
}

ul.listing li
{
	background: #ffffff;
	padding-top:20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}

/*--numbers--*/
li a.cycle_id
{
	color: #333;
	text-align: right;
	width: 20px;
	position: absolute;
	overflow: auto;
	background: #ffffff;
	text-decoration: none;
}

/*--demo test cycle--*/
li a.name
{
	text-transform: uppercase;
	font-weight:bold;
	color: #333;
	display: inline-block;
	margin-left: 30px;
}

li a:hover {
	color: #666;
}

/*--some tests run..--*/
li a.description
{
	float: right;
	color: #333;
	font-style: italic;
	text-decoration: none;
}
li a.jira_issue
{
}

li div.jira_status
{
	font-weight:bold;
}