* {
	box-sizing: border-box;
}

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0px auto;
	border: 0;
	background-color:#ededed;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 200;
}

div {
	margin: 0px auto;
	padding: 15px;
}

ul, ol, li
{
	list-style-type:none;
	-webkit-padding-start: 0px;
}

.cycle_case_rollup {
	width:75%;
}

div.cycle {
	background-color:#444;
	color: #fff;
	list-style-type:none;
}

div.cycle div.cycle_id {
	font-size: 18px;
	display: inline;
}

div.cycle div.name {
	font-size: 18px;
	font-weight:bold;
	display: inline-block;
	word-wrap: break-word;
}

div.cycle div.description {
	font-size: 18px;
	font-style: italic;
	display: inline-block;
	word-wrap: break-word;
}

.spacer {
	display: none;
}


div.cycle div.jira_issue div
{
	font-weight:bold;
}

div.case_rollup_container
{
	padding: 0px;
	text-align: left;
}


div.case_filters
{
	background-color:#fff;
}

.filter_list {
	display: inline;
}

.label {
	display: inline;
}


div.case_filters div div.label
{

}
div.case_filters ul.filter_list
{

}
ul.filter_list li
{
	width:100;
	height:30;
	padding:4;
	text-align:center;
	display: inline-block;
	margin: 0px 10px;
	color: #fff;
	font-weight: 400;
}


.case_rollup {
	list-style-type:none;
}

ul .executions {
	background-color: #dedede;
	margin-bottom: 20px;
	padding: 5px 15px;
	height: auto;
}

li .execution{
	background-color: #fff;
	margin: 10px 0px;
	padding: 15px;
	font-size: 14px;}

.start_time, .end_time {
	font-size: 14px;
	padding: 5px 10px;
}

.execution .execution_id, .execution .description{
	display: inline;
	left: 250px;
	top: -47px;
	position: relative;
	padding: 5px 10px;
	word-wrap: break-word;
}

.execution .description{
	width:500;
	display: inline-block;
}

li.case div.header
{
	background-color: #dedede;
	list-style-type:none;
}

.case_id {
	display: inline;

}

li.case div.header div.label
{
	font-weight:bold;
	display: inline-block;
	width:850;
	word-wrap: break-word;
}
li.case div.header div.jira_summary
{

	font-weight:bold;
}

.result {
	float: right;
	display: inline;
}

.result_status {
	color: black;
	float: right;
	display: inline;
	position: relative;
	top: -75px;
	font-weight: bold;
}

.result_status_pass
{
	color:green;
}
.result_status_fail
{
	color:red;
}
.result_status_skip
{
	color:orange;
}

.last_log_message {
	padding: 0px;
	float: right;
	position: relative;
	top: -45px;
}

.filter_list {
	background-color: #fff;
}

.filter_list li {
	display: inline;
	background-color:green;
	padding: 10px;
	height: 100px;
}

.filter_list li[active=y]
{
	background-color:red;
}
.case_rollup li.case[filtered=y]
{
	display:none;
}



